Error generating URDF:
error: unknown macro name: xacro:sphere_inertia
when instantiating macro: caster (/home/alip22/Mobile_Robot_URDF_Maker/install/mobRobURDF_description/share/mobRobURDF_description/urdf/submodules/2_wheeled_caster/wheels.xacro)
in file: /home/alip22/Mobile_Robot_URDF_Maker/build/mobRobURDF_wizard/mobRobURDF_wizard/classes/temp/2_wheeled_caster/mobRob.xacro
