Error generating URDF from /home/alip22/Mobile_Robot_URDF_Maker/install/mobRobURDF_description/share/mobRobURDF_description/urdf/temp/4_wheeled/mobRob.xacro:
error: No such file or directory: /home/alip22/Mobile_Robot_URDF_Maker/install/mobRobURDF_description/share/mobRobURDF_description/urdf/submodules/base.xacro [Errno 2] No such file or directory: '/home/alip22/Mobile_Robot_URDF_Maker/install/mobRobURDF_description/share/mobRobURDF_description/urdf/submodules/base.xacro'
when processing file: /home/alip22/Mobile_Robot_URDF_Maker/install/mobRobURDF_description/share/mobRobURDF_description/urdf/temp/4_wheeled/mobRob.xacro
