<?xml version="1.0" ?>
<robot name="mobRob" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Xacro parameters -->
  <xacro:property name="chassis_size" value="1.2 0.8 0.3"/>
  <xacro:property name="chassis_mass" value="1.0"/>
  <xacro:property name="chassis_material" value="Gray"/>
  <xacro:property name="wheel_radius" value="0.22"/>
  <xacro:property name="wheel_width" value="0.12"/>
  <xacro:property name="wheel_mass" value="0.5"/>
  <xacro:property name="wheel_material" value="Black"/>
  <xacro:property name="front_x" value="0.6"/>
  <xacro:property name="front_y" value="0"/>
  <xacro:property name="front_z" value="-0.15"/>
  <xacro:property name="rl_x" value="-0.4533333333333333"/>
  <xacro:property name="rl_y" value="0.46"/>
  <xacro:property name="rl_z" value="-0.15"/>
  <xacro:property name="rr_x" value="-0.4533333333333333"/>
  <xacro:property name="rr_y" value="-0.46"/>
  <xacro:property name="rr_z" value="-0.15"/>
  <xacro:property name="controller_type" value="tricycle"/>
  <xacro:include filename="$(find mobRobURDF_description)/urdf/submodules/3_wheeled/mobRob_3w_tricycle.xacro"/>
  <xacro:include filename="$(find mobRobURDF_description)/urdf/user_sensors.xacro"/>
</robot>