<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobRob">
  <!-- Include Xacro files -->
  <xacro:include filename="$(find mobRobURDF_description)/urdf/submodules/3_wheeled/base.xacro" />
  <xacro:include filename="$(find mobRobURDF_description)/urdf/submodules/3_wheeled/wheels.xacro" />
  <xacro:include filename="$(find mobRobURDF_description)/urdf/submodules/3_wheeled/sensors.xacro" />
  <xacro:include filename="$(find mobRobURDF_description)/urdf/macros/inertial_macros.xacro" />
  <xacro:include filename="$(find mobRobURDF_description)/urdf/macros/material_macros.xacro" />
  <!-- <xacro:include filename="$(find mobRobURDF_description)/urdf/gazebo_files/gazebo_sensors.xacro" /> -->

  <!-- Call the macro to define materials -->
  <xacro:define_materials/>

  <!-- Define the robot -->
  <xacro:chassis size="1 1 1" mass="1.0" material="Gray" />

  <!-- Wheels -->
  <xacro:wheel name="front" radius="0.22" width="0.12" mass="0.5" material="Black" x="0.5" y="0" z="-0.5" />
  <xacro:wheel name="rear_left" radius="0.22" width="0.12" mass="0.5" material="Black" x="-0.5" y="0.56" z="-0.5" />
  <xacro:wheel name="rear_right" radius="0.22" width="0.12" mass="0.5" material="Black" x="-0.5" y="-0.56" z="-0.5" />

  <!-- Sensors -->
  <xacro:lidar radius="0.1" height="0.08" mass="0.2" material="Red" z="0.54" />
  <xacro:camera size="0.08 0.2 0.08" mass="0.1" material="Blue" x="0.54" />
</robot>